.search {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-searchbar {
    height: 25px;
}

.search-searchresult {
    border-radius: 0px 0px 7px 0px;
    position: absolute;
    top: 30px;
    z-index: 1;
}