@media (max-width: 800px) {
    .main {
        width: 100vw;
    }    
}
@media (min-width: 800px) {
    .main {
        width: 60vw;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.main-component {
    background-color: var(--main-bg-color);
    border: 3px solid var(--highlight-color);
    color: var(--text-color);
}

.main-title {
    color: var(--text-color);
    font-weight: bold;
    margin: 5px;
    border-bottom: 1px solid var(--highlight-color);
}