.main {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.main-component {
    background-color: var(--main-bg-color);
    border: 3px solid var(--highlight-color);
    color: var(--text-color);
}

.main-title {
    font-weight: bold;
    margin: 5px;
    border-bottom: 1px solid var(--highlight-color);
}

.main-entry {
    display: flex;
    flex-direction: column;
}

.main-entry-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}

.main-entry-details:hover {
    background-color: var(--highlight-color);
}

.main-entry-details-left {
    display: flex;
    flex-direction: row;
}

.main-entry-subsection {
    list-style-type: none;
}

.main-entry-subsection-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    padding-left: 35px;
    padding-right: 5px;
}

.main-entry-subsection-item:hover {
    background-color: var(--highlight-color);
}

.main-button {
    width: 15px;
}

.main-visible-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    cursor: pointer;
}

.main-delete-button {
    background-color: var(--delete-color);
}

.main-delete-button:hover {
    background-color: var(--delete-hover-color);
}

.main-entry-details-delete-button {
    height: 100px;
}

.playlist {
    border-top: 0px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.submit-duplicate {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit-button {
    display: flex;
    align-items: center;
    border-top: 0px;
    border-radius: 0px 0px 7px 0px;
    padding: 8px;
    margin-left: 8px;
    font-weight: bold;
}