.main-entry {
    display: flex;
    flex-direction: column;
}

.main-entry-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}

.main-entry-details:hover {
    background-color: var(--highlight-color);
}

.main-entry-details-left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}