html {
    --site-bg-color: #131316;
    --main-bg-color: #2f2f37;
    --highlight-color: #6987c9;
    --highlight-color-dark: #7880b5;
    --highlight-color-dark-2: #57609e;
    --text-color: #ffffff;
    --text-color-dim: #9c9cab;
    --delete-color: #f0567a;
    --delete-hover-color: #e11444;
    background-color: var(--site-bg-color);
    font-family: 'Open Sans', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

 /* unvisited link */
a:link {
    color: var(--highlight-color);
}
  
/* visited link */
a:visited {
    color: var(--highlight-color);
}
  
/* mouse over link */
a:hover {
    color: var(--highlight-color-dark);
}
  
/* selected link */
a:active {
    color: var(--highlight-color-dark-2);
}

input[type="checkbox"] {
    cursor: pointer;
}